<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="DirectMessageServiceSoapBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://api.directmdemail.com/message/services/DirectMessageService"
                binding="customBinding" bindingConfiguration="DirectMessageServiceSoapBinding"
                contract="ServiceReference1.DirectMessageService" name="DirectMessageService_Port_Soap12" />
        </client>
    </system.serviceModel>
</configuration>